/* Apply the same font to all the text elements */
body {
 font-family: 'Oswald', sans-serif;
}

/* Making the image always fill the entire screen */
#rallarimg {
 width: auto;
 min-width: 100%;
 min-height: 100%;
 overflow: hidden;
}

#title {
 color:black;
}

/* Set the background of the image so the properties are known */
.imgbg {
 width: 100%;
 height: 100%;
 text-align: center;
 position: relative;
 position: fixed;
}

/* Placement and style of "Welcome to GoGoBike System!" headline */
.centertext {
 position: absolute;
 top: 27%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 font-style: oblique;
 font-size: 2.5em;
 font-weight: bold;
}

/* Placement of the date and time on the front-page */
.iframebg {
  position: absolute;
  top: 35%;
  left: 38%;
  pointer-events: none;
}

/* Dimensions of clock on the front-page */
.clock {
  width: 214px;
  height: 34px;
}
